<div>List of cats img</div>
<div class="row">
    <div *ngFor="let image of catsImages" class="container">
        <img 
            [src]="image.url" 
            alt="{{image.id}}" 
            class="image">
        <app-like [imageUrl]="image.url" [imageId]="image.id"></app-like>
    </div>
</div>



<!-- <div>List of favorite cats img</div>
<div class="row">
    <div *ngFor="let image of catsImagesFavourite">
        <img 
            [src]="image.url" 
            alt="{{image.id}}"
            class="image" 
            (click)="deleteFromFavourites($event)">
    </div>
</div> -->