<div>List of cats img</div>
<div class="row">
    <div *ngFor="let image of catsImages" class="container">
        <img 
            [src]="image.url" 
            alt="{{image.id}}" 
            class="image"
            (click)="addToFavourites($event)">

        <div class="like"
            (click)="addToFavourites($event)"></div>
    </div>
</div>

<div>List of favorite cats img</div>
<div class="row">
    <div *ngFor="let image of catsImagesFavourite">
        <img 
            [src]="image.url" 
            alt="{{image.id}}"
            class="image" 
            (click)="deleteFromFavourites($event)">

        <div class="unlike"
            (click)="deleteFromFavourites($event)"></div>
    </div>
</div>